fastapi
uvicorn
# requests
# requests-cache
# retry-requests
# pandas
langgraph
langchain_experimental
langchain-openapi
termcolor
duckduckgo_search
openapi-python-client
langchain_community
wikipedia
dotenv
yfinance
langchain_openai